In [1]:
import pandas as pd
import numpy as np

/Users/jason.xie/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [4]:
col1 = ['apple', 'banana', 'peach']
col2 = ['apple', 'apple', 'apple']
col3 = [1,2,3]
df = pd.DataFrame({'col1':col1, 'col2':col2, 'col3':col3 })

In [14]:
cols_to_transform = ['col1', 'col2']
df_with_dummies = pd.get_dummies(df, columns = cols_to_transform )
df_with_dummies.add(df.col3, axis=0)

   col3  col1_apple  col1_banana  col1_peach  col2_apple
0   2.0         2.0          1.0         1.0         2.0
1   4.0         2.0          3.0         2.0         3.0
2   6.0         3.0          3.0         4.0         4.0

# Alternative

In [17]:
from sklearn.feature_extraction.text import *

cv = CountVectorizer()
mymatrix = cv.fit_transform(['lol lol lol', 'there was a time'])
mymatrix.todense()

matrix([[3, 0, 0, 0],
        [0, 1, 1, 1]])